<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CITIZEN AND CONSTITUTION</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'content' %}">Contents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Sign-up</a>
                </li>
                {% endif %}
            </ul>

            <!-- Language Selection Dropdown -->
            <!-- Optionally, logout button -->
            {% if user.is_authenticated %}
            <div class="text-end">
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
<style>
    .language-selector {
        position: relative;
        display: inline-block;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropbtn {
        background-color: #f1f1f1;
        color: black;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover, .active {
        background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: #ddd;
    }
    </style>